.article-featured-image  {
    max-width: 350px;
    min-width: 150px;
    max-height: 350px;
    min-height: 150px;
    margin:20px;
    padding-top:0px;
}

.article-text {
    color: #3a3a3f;

}

.page-titles { 
    padding-top: 0;
}

.text-themecolor {
    padding:0;
}
.sidebar-cats  td {
    padding-top:5px;
    padding-bottom:5px;
}

.card-title {
    margin-bottom:0;
}

.card-text {
    padding:0;
    margin:0;
}

.sidebar-nav ul li a.active {
    color:black;
}

